
.container{
    width: 90%;
}
.intro_content{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    .title{
        align-self: flex-start;
        color: var(--white);
        font-family: var(--primary-font);
        text-transform: capitalize;
        font-size: 5.0rem;
        font-weight: 600;
    }
    p{
        color: var(--white);
    }
}
.about-me{
    margin-top: 60px;
    width: 100%;
}