@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    /*Fonts*/
    --primary-font:"Roboto", sans-serif;
    /*Colors*/
    --primary_color:#6f17f0;
    --degradient: linear-gradient(86deg, rgba(2,0,36,1) 0%, rgba(34,34,69,1) 71%, rgba(149,0,255,1) 100%);
    --degradient-opacity: rgba(255, 255, 255, 0.5);;
    --white:#fbfeeb;
    --txt-color:#000000;
    --gray-glaciar:#f1f1f2;
    --gray-glaciar-h:#BCBABE;
    --blue-ice:#A1D6E2;
    --blue-glacial: #232323;
    --blue-turk:#DCFE50;
}

// img{
//     color: #DCFE50;
//     color: #1a1a1a; 
//     color: #232323; 
//     color: #fbfeeb;

// }
